@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');
 *{
    margin: 0;
    padding: 0;
 }
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-item img{
    height: 584px;
    object-fit: cover;
}
.carousel-item h5{
    font-size: 48px;
    font-weight: 600px;
}
.packeges h2{
    font-size: 38px;
    padding: 100px 0;
}
.packeges p{
    color: rgba(132, 129, 153, 1);
    font-size: 15px;
}
.packeges span{
    color: rgba(132, 129, 153, 1);
    font-size: 15px;
}
.packeges .btn{
    background-color: rgba(244, 150, 209, 0.1)
}
.price-item{
    background-color: rgba(63, 135, 245, 1);
    color: white;
}
.price-item p{
    color: white;
}
.price-item span{
    color: white;
}
.price-item .btn{
   background-color: white ;
}
.price-item{
    position: relative;
}
.price-item{
    transform: translateY(-50px);
    padding: 80px 25px 25px;
}
.badge{
    position: absolute;
    top: -12px;
    right: 15PX;
}
.review{
    margin: 100px 0;
}
.review h2{
    padding: 100px 0;
}
.card{
    border: none;
}
.card img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.card span{
    color: rgba(132, 129, 153, 1);
}
.card-text{
    color: rgba(132, 129, 153, 1);
}
.faq{
    margin: 100px 0;
}
.faq h2{
    padding: 100px 0;
}
.gift-box{
    padding: 20px 30px;
    border-left: 10px solid rgb(135, 153, 235);
}
footer{
    color: #D9DBE1;
    padding: 80px 50px;
}
